# Temp files
*.swp
*.swo
*~

# pipe
*.pipe

# GPG
*.gpg
*.asc

# CDDA
# cdda sound pack is too big
common/.cataclysm-dda/sound
!common/.cataclysm-dda/sound/.gitkeep
# cdda UDP graphics pack is a bit big
common/.cataclysm-dda/gfx
!common/.cataclysm-dda/gfx/.gitkeep
# we dont need to track the cache
common/.cataclysm-dda/cache
!common/.cataclysm-dda/cache/.gitkeep

# debug files
*.log

# contacts
common/mutt/contacts
